{% extends 'base.html.twig' %}
{% block title %}La Paillote Du Soleil{% endblock %} {% block body %}

        <section class="hero-section">
            <div class="hero-video-container">
                <video autoplay muted loop>
                    <source src="{{ asset('images/hero_v4.webm') }}" type="video/webm"/>
                </video>
                <div class="hero-text">
                    <h1>Bienvenue à la Paillote Du Soleil</h1>
                    <h2>Restaurant - Bar - Plage privée - Évènements</h2>
                </div>
            </div>
        </section>
        <section class="presentation">
            <article class="left-content">
                <img
                        src="{{ asset('images/paillote.webp') }}"
                        alt="photo de la Paillote Du Soleil"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">La Paillote Du Soleil</h3>
                <br/>
                <p>
                    <strong>La Paillote Du Soleil</strong> à Valras-Plage, ouvert de Mars à
                    Octobre et situé aux portes de Montpellier (34, Hérault) offre une vue
                    imprenable sur la Méditerranée.
                </p>
                <br/>
                <p>
                    Située entre Carnon et Villeneuve les Maguelone, connue de tous depuis
                    des générations, La Paillote Du Soleil est devenue au fil du temps une
                    référence en termes de confort et de qualité. Que l’on y vienne en
                    couple ou en famille, l’équipe veille au calme et au bien être de
                    chacun. La Paillote Du Soleil a conservé l’esprit d’une plage familiale.
                </p>
                <br/>
                <a href="#" class="cta-btn">Découvrez notre restaurant</a>
            </article>
        </section>
        <section class="presentation second">
            <article class="left-content">
                <img
                        src="{{ asset('images/proposal__beach.jpg') }}"
                        alt="photo de la Paillote Du Soleil"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">Nos services</h3>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab esse maiores
                    sint quas repellat nobis perspiciatis molestiae inventore quisquam
                    praesentium.
                </p>
                <br/>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
                    ratione labore obcaecati quod repellendus officiis libero quis
                    dignissimos optio illo fugit quae nulla temporibus. Omnis voluptatum
                    optio ipsum eos, voluptatibus cupiditate veniam maxime officiis! Fuga
                    quos eligendi itaque optio quod!
                </p>
                <br/>
                <a href="#" class="cta-btn">Découvrez nos services</a>
            </article>
        </section>
        <section class="presentation">
            <article class="left-content">
                <img
                        src="{{ asset('images/OIP.jpg') }}"
                        alt="photo de la Paillote Du Soleil"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">Actualités</h3>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In cumque
                    praesentium omnis ad nam eius.
                </p>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                    placeat doloribus illo facilis officiis. Magni eos aspernatur
                    asperiores. Ut quod fugit maxime incidunt quos molestiae voluptas
                    similique! Possimus, excepturi repellat!
                </p>
                <br/>
                <a href="{{ path('app_article_index') }}" class="cta-btn">Découvrez nos actualités</a>
            </article>
        </section>
        </section>
        <div class="before-footer"></div>
{% endblock %}
