{% extends 'base.html.twig' %}

{% block title %} Activités {% endblock %}

{% block body %}

<section class="proposals">
    <div class="card">
      <a href="{{ path('app_activities') }}">
        <div class="blur"></div>
        <img src="{{ asset('images/snorkeling.jpg') }}" alt="Activités" />
        <p class="card__text">Activités touristiques</p>
      </a>
    </div>
    <div class="card">
      <a href="{{ path('app_events') }}">
        <div class="blur"></div>
        <img
          src="{{ asset('images/proposal__restaurant.jpg') }}"
          alt="Evènements"
        />
        <p class="card__text">Évènements</p>
      </a>
    </div>
    <div class="card">
      <a href="{{ path('app_privateBeach') }}">
        <div class="blur"></div>
        <img
          src="{{ asset('images/proposal__beach.jpg') }}"
          alt="Plage privée"
        />
        <p class="card__text">Plage privée</p>
      </a>
    </div>
    {% endblock %}
