{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}

	{# {% for message in app.flashes('success') %}
	        <div class="alert alert-success" role="alert">{{ message }}</div>
	    {% endfor %} #}
	<div class="main-container">
		<section class="presentation" id="margin-left-none">
			<article class="left-content">
                <div id="logo-contact">
				    <img src="{{ asset('images/logo-contact.png') }}" alt="photo de la Paillote Du Soleil" />
                </div>
            </article>
			<article class="right-content">
				<h3 class="presentation-title">Formulaire de contact</h3>
				<br/>
				<p>
					N'hésitez pas à nous faire part de vos questions, vos demandes de réservation ou toute autre information que vous souhaitez obtenir en remplissant le formulaire ci-dessous. Notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.
				</p>
				{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.email) }}
				{{ form_row(form.subject) }}
				{{ form_row(form.message) }}
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
				<br/>
				<p>
					Merci de votre intérêt pour La Paillotte du Soleil. Nous avons hâte de vous accueillir prochainement dans notre havre de paix en bord de mer.
				</p>
				<br/>
				<a href="#" class="cta-btn">Découvrez notre restaurant</a>
			</article>
		</section>
	</div>
{% endblock %}
