{% extends 'base.html.twig' %}

{% block title %} Service de traiteur {% endblock %}

{% block body %}
    <div class="main-container">
    <div class="container">
        <section class="presentation">
            <article class="left-content">
                <img
                        src="{{ asset('images/traiteur.webp') }}"
                        alt="photo service de traiteur'"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">Nos services de traiteur</h3>
                <br/>
                <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
                 <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
                 <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
               <a class="cta-btn" href="{{ path('app_contact')}}"> Nous contacter </a>
            </article>
            
        </section>
         <section class="presentation second">
            <article class="left-content">
                <img
                        src="{{ asset('images/gamme-1.jpeg') }}"
                        alt="photo de la Paillote Du Soleil"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">Service de gamme&nbsp;1</h3>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab esse maiores
                    sint quas repellat nobis perspiciatis molestiae inventore quisquam
                    praesentium.
                </p>
                <br/>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
                    ratione labore obcaecati quod repellendus officiis libero quis
                    dignissimos optio illo fugit quae nulla temporibus. Omnis voluptatum
                    optio ipsum eos, voluptatibus cupiditate veniam maxime officiis! Fuga
                    quos eligendi itaque optio quod!
                </p>
                <br/>
               <a class="cta-btn" href="{{ path('app_contact')}}"> Nous contacter </a>
            </article>
        </section>
         <section class="presentation">
            <article class="left-content">
                <img
                        src="{{ asset('images/gamme-2.jpeg') }}"
                        alt="photo service de traiteur'"
                />
            </article>
            <article class="right-content">
             <h3 class="presentation-title">Service de gamme&nbsp;2</h3>
                <br/>
                <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
                 <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
                 <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
                 <br/>
              <a class="cta-btn" href="{{ path('app_contact')}}"> Nous contacter </a> 
            </article>
            
        </section>
    </div>
    </p>
    </div>
{% endblock %}
