{% extends 'base.html.twig' %} {% block title %}Article{% endblock %} {% block
body %}
<div class="main-container">
  <article class="article">
    <h1>{{ article.title }}</h1>
    <br />
    {% if (article.image) %}
    <div class="detailed-article-img">
      <img src="{{ article.image }}" alt="{{ article.title }}" />
    </div>
    {% else %}
    <div class="detailed-article-img">
      <img
        src="{{ asset('images/paillote.webp') }}"
        alt="{{ article.title }}"
      />
    </div>
    {% endif %}
    <p>
      {{ article.content | nl2br }}
    </p>
    <div class="article-bottom">
      <a href="{{ path('app_article_index') }}" class="btn_crud"
        >Retour aux articles</a
      ><br />

      {% if (app.user) %}

      <a
        href="{{ path('app_article_edit', { id: article.id }) }}"
        class="btn_crud"
        >Modifier</a
      >

      {{ include("article/_delete_form.html.twig") }}
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}
